<header [style.--couleur-ombre]="preferenceService.couleurPreferee()">

    <img src="beard.svg" alt="logo" width="30px" height="30px"
        (click)="goToWelcome()"  
        style="cursor : pointer;" >

    <b (click)="goToWelcome()" style="cursor : pointer;">{{titleHeader() | titlecase}}</b>

    <a routerLink="/bindings">Bindings</a>
    <a routerLink="/exos-bindings">exos-Bindings</a>
    <a routerLink="/signals">Signals</a>
    <a routerLink="/exos-signals">exosSignals</a>
    <a routerLink="/control-flow">ControlFlow</a>
    <a routerLink="/pipes">Pipes</a>
    <a routerLink="/exos-io/ei01-carte">Exos-IO</a>
    <a routerLink="/exos-material">Material</a>
    <a routerLink="/produits">ProduitsV1</a>
    <a routerLink="/produits-table">ProduitsTable</a>
</header>

