
<h3>Exos-Material</h3>

@if(isIndexOutOfBounds){
    <div>
        <b style="color:red">L'exercice demandé n'existe pas.</b>
    </div>
}


<select [(ngModel)] ="selectedSubcomponent"> 
    @for(comp of subComponents; track $index){
        <option [ngValue] ='comp'>{{comp}}</option>
    }
</select>


@switch(selectedSubcomponent){
    @case ('em01-boutons') { <app-em01-boutons /> }
    @case ('em02-slider') { <app-em02-slider /> }
    @case ('em03-checkboxes') { <app-em03-checkboxes /> }
    @case ('em04-chips') { <app-em04-chips /> }
    @case ('em05-tabs') { <app-em05-tabs /> }
    @case ('em06-expansion') { <app-em06-expansion /> }
    @case ('em07-table') { <app-em07-table /> }
    @case ('em08-stepper') { <app-em08-stepper /> }
    @case ('em09-autocomplete') { <app-em09-autocomplete /> }
    @case ('em10-crud') { <app-em10-crud /> }
    @default { <p>Selectionnez un composant.</p> }
}

<hr>