<h3>Exos-bindings</h3>

@if(isIndexOutOfBounds){
    <div>
        <b style="color:red">L'exercice demandé n'existe pas.</b>
    </div>
}


<select [(ngModel)] ="selectedSubcomponent"> 
    @for(comp of subComponents; track $index){
        <option [ngValue] ='comp'>{{comp}}</option>
    }
</select>


@switch(selectedSubcomponent){
    @case ('eb01-interpolation') { <app-eb01-interpolation /> }
    @case ('eb02-property')      { <app-eb02-property /> }
    @case ('eb03-classes')       { <app-eb03-classes /> }
    @case ('eb04-styles')        { <app-eb04-styles /> }
    @case ('eb05-events')        { <app-eb05-events /> }
    @case ('eb06-twoway')        { <app-eb06-twoway /> }
    @case ('eb07-if')            { <app-eb07-if /> }
    @case ('eb08-for')           { <app-eb08-for /> }
    @case ('eb09-switch')        { <app-eb09-switch /> }
    @case ('eb10-combine')       { <app-eb10-combine /> }
    @default { <p>Selectionnez un composant.</p> }
}

<hr>